<center><h3>Sku Lookup</h3></center>
<hr/>
<div class="row">
  <div class="pull-right" style="margin-right: 20px;">
    <a href="/edit-threshold" class="btn btn-info"><i class="fa fa-pencil"></i>&nbsp;&nbsp;View/Edit Threshold</a>
  </div>
</div>